.App {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

/* .heading {
  margin: 0.5rem 0.5rem;
  text-align: start;
}

.button {
  border-radius: 5px;
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-width: 0.05rem;
  cursor: pointer;
} */
